.loadingState-wrapper {
    background-color: #545454;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10rem 0rem;
    color: #fff; 
    overflow-y: hidden;
}